.container-paper {
  padding: 30px;
}

.checkout-field {
  float: left;
}

.thumbSwitchedStyle { 
  background-color: rgb(0, 188, 212);
}

.checkout-field .btn-green {
  background-color: rgb(0, 188, 212);

  &:hover,
  &:active {
    background-color: #00abc1;
  }
}

.checkout-field .btn-add {
  bottom: 0;
  position: absolute;
  right: 0;
}

.checkout-field .btn-green:not([disabled]):not(.disabled):active  {
  border-color: #44c8d6;
  background-color: rgba(0, 171, 193, 1);
  box-shadow: rgba(0, 171, 193, 0.5) 0px 0px 0px 2.93333px;
}

.checkout-field .btn-green:disabled,
.checkout-field .btn-green.disabled {
  background-color: rgb(148, 148, 148);

  &:hover,
  &:active {
    background-color: rgb(133, 133, 133);
  }
}

.button-section {
  margin-top: 20px;
}

.sku-item {
  border-bottom: 1px solid #ccc6c6;
}

.btn-delete {
  background-color: transparent;
  border: 0;
  color: red;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer
}