.bg-danger
{
    background:#FF9494;
}

.bg-success
{
    background:#57CC27;
}

.bg-warning
{
    background:#FFBC94;
}

@media all and (max-width: 767px) {
  .mobile-hide {
      display:none !important;
  }

}

@media all and (min-width: 768px) {
  .mobile-show {
      display:none !important;
  }
}




/*!---------- SECTION ----------*/

section.section-first{
    margin-top:74px;
}

section {
    //padding: 50px 0;
}

// @media (max-width:767px) {

//     section.section-first{
//         margin-top:51px;
//     }

//     section.mobile-first{
//         margin-top:95px;
//     }
// }

// @media (min-width:768px) {
//     section {
//       padding: 50px 0;
//     }

// }

section.cover-bg
{
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



section.cover-bg h1,
section.cover-bg h2,
section.cover-bg h3,
section.cover-bg h4
{
    color:#ffffff;
    text-shadow:1px 1px rgba(51, 51, 51, 0.4);
}

section.cover-bg .grid-item
{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    background:#ffffff;
}

section.cover-bg .btn-secondary,
section.cover-bg .btn-primary
{
    border:none;
    background: rgba(255,255,255,0.55);
    color:#333;
}

section.cover-bg .btn-secondary:hover,
section.cover-bg .btn-primary:hover
{
    background: rgba(0,0,0,0.6);
    color:#fff;
}

section.parallax
{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.centralize {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    top: 50%;
}


.centered {
    margin: 0 auto;
}

.bg-loading
{
    background: rgba(255, 255, 255, 0.55);
  height:100%;
  width:100%;
  position:fixed;
  z-index: 9999;
  top: 0;
  display:none;
}

.bg-white
{
  background-color:#fff;
}

.bg-light-gray {
    background-color: #f1f1f1;
}

.bg-medium-gray {
    background-color: #efefef;
}

.bg-light-brown {
    background: #e4e1d5;
}

.bg-darkest-gray {
    background-color: #222;
}

.bg-cover
{
     background-size:cover !important;
     background-position:center center !important;
     background-repeat:no-repeat !important;
}

